*, *::before, *::after{
    box-sizing: border-box; /* Set the sizing of an element to include it's border */
}

*{
    margin: 0; /* Set the default margin to 0 */
    padding: 0; /* Set the default padding to 0 */
}

ul[role='list'], ol[role='list']{
    list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within{
    scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]){
    text-decoration-skip-ink: auto; /* Makes link undelines look better */
}

img, picture, svg, video, canvas{
    max-width: 100%; /* Makes it responsive */
    height: auto; /* Makes it responsive */
    vertical-align: middle; /* Makes text next to inline images look better */
    font-style: italic; /* If the images don't load it makes the alt decription look better */
    background-repeat: no-repeat; 
    /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; /* Makes these elements inherit fonts */
}

/* Turns off animation for people who don't want to see them */
@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; /* Makes the body element full screen */
    scroll-behavior: smooth; /* Makes normal scrolling smooth */
}

/* 

    Custom CSS Starts Here
    
*/

body {
    padding: 2em;
}

div {
    text-align: center;
    /* border: 0.5px solid red; */
}

.item {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid black;
}

.col {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0 0.5em;
    display: inline-block;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    line-height: 1;
}

.desc {
    min-width: 50vw;
    text-align: left;
}

.col.upc {
    padding: 0;
    font-family: "Libre Barcode EAN13 Text", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    transform: scale(1, 0.5);
    line-height: 0.5;
}

.col-group {
    display: flex;
}

.col-group-row {
    display: inline-block;
}

.col-group-row-item {
    padding: 0 0.25em;
}

/*

https://github.com/cognitom/paper-css

*/

@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.A3               .sheet { width: 297mm; height: 419mm }
body.A3.landscape     .sheet { width: 420mm; height: 296mm }
body.A4               .sheet { width: 210mm; height: 296mm }
body.A4.landscape     .sheet { width: 297mm; height: 209mm }
body.A5               .sheet { width: 148mm; height: 209mm }
body.A5.landscape     .sheet { width: 210mm; height: 147mm }
body.letter           .sheet { width: 216mm; height: 279mm }
body.letter.landscape .sheet { width: 280mm; height: 215mm }
body.legal            .sheet { width: 216mm; height: 356mm }
body.legal.landscape  .sheet { width: 357mm; height: 215mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
           body.A3.landscape { width: 420mm }
  body.A3, body.A4.landscape { width: 297mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5                    { width: 148mm }
  body.letter, body.legal    { width: 216mm }
  body.letter.landscape      { width: 280mm }
  body.legal.landscape       { width: 357mm }
}