/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* End CSS Reset */

/* This gets rid of the header and footer, really */
@page {
    margin: 0in;
}

body {
    padding: 0.5in 0;
    font-family: "owners-text", sans-serif;
}

h1, h2, h4 {
    width: 100%;
    text-align: center;
}

h2 {
    margin-top: 2em;
    border-bottom: 1px solid gray;
}

h4 {
    margin-top: 2em;
    background-color: darkgray;
    color: lightgray;
}

.barcode {
    display: inline-block;
    padding: 0 !important;
    font-family: "Libre Barcode EAN13 Text", system-ui;
    font-style: normal;
    font-size: 8em;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
}

.flex {
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 1em;
    padding: 2em;
    padding-top: 0;
}

.flex-item {
    padding: 0 1.5em;
}